<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page Not Found</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    
    <main class="flex items-center justify-center h-screen bg-green-500">
        <div class="px-4 py-16 mx-auto text-center lg:px-8 lg:py-48 max-w-7xl sm:px-6 sm:py-24">
          <div class="justify-center w-full text-center lg:p-10 max-auto">
            <div class="justify-center w-full mx-auto">
      
              <p class="text-5xl tracking-tight text-white  lg:text-9xl">
                404
              </p>
              <p class="max-w-xl mx-auto mt-4 text-lg tracking-tight text-gray-400">
                Please check the URL in the address bar and try again.
              </p>
            </div>
            <div class="flex justify-center gap-3 mt-10">
              <a class="items-center justify-center w-full px-6 py-2.5 text-center text-white duration-200 bg-black border-2 border-black rounded-full nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black text-sm focus-visible:ring-black" href="#">
                Button
              </a>
              <a class="inline-flex items-center text-sm font-semibold leading-6 text-gray-900" href="#">
                <span> Learn more </span>
                &nbsp; →
              </a>
            </div>
          </div>
        </div>
      </main>
    
      <%- include('user/footer') %>
    
</body>
</html>