
<section>
  <div class="items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="relative items-center w-full mx-auto mt-10">
      <img class="object-cover object-center w-full rounded-xl bg-gray-300 h-96" src="https://www.oyorooms.com/travel-guide/id/wp-content/uploads/sites/6/2022/10/Recommended-5-Tempat-Wisata-Kekinian-Makassar-1280x720.jpg" alt="">
    </div>
    <div class="pt-12 text-left">
      <div class="items-center mx-auto lg:inline-flex">
        <div class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24">
          <div>
            <p class="text-2xl font-medium tracking-tight text-black sm:text-4xl">
              Tentang Website Ini
            </p>
          </div>
          <div class="lg:ml-auto">
            <p class="mt-4 text-lg tracking-tight text-gray-600 lg:mt-0 text-justify">
              <!-- Whether you're a beginner or an experienced programmer, our SaaS
              product offers the tools you need to be successful. -->
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi voluptas rerum possimus aspernatur quibusdam omnis sint odit dolorum nihil libero, accusamus tempore praesentium minus iste dolor, aliquid voluptatum iusto ad neque. Est saepe eum ipsam nam vitae similique exercitationem hic modi totam optio? Similique nulla aliquid quas molestiae mollitia sed odio nam? Neque magni provident accusantium voluptate vero porro assumenda ipsam quod amet? Nam illo, amet mollitia beatae, sed distinctio rem, similique laborum saepe delectus iusto eius debitis ducimus accusamus porro temporibus iste sequi a harum rerum velit repellendus at modi. Fugit distinctio, repellendus nemo magni ut error totam sequi.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div>
      <div class="pt-12 mx-auto lg:max-w-7xl">
        <dl class="grid grid-cols-1 gap-6 space-y-0 lg:gap-24 lg:grid-cols-3">
          <div>
            <div>
              <p class="text-lg font-medium leading-6 text-black">
                Developer experience
              </p>
            </div>
            <div class="mt-2 text-base text-gray-500">
              Plus, our platform is constantly evolving to meet the changing
              needs of the tech industry, ensuring you'll always be ahead.
            </div>
          </div>
          <div>
            <div>
              <p class="text-lg font-medium leading-6 text-black">
                Designers go-to app
              </p>
            </div>
            <div class="mt-2 text-base text-gray-500">
              Plus, our platform is constantly evolving to meet the changing
              needs of the tech industry, ensuring you'll always be ahead.
            </div>
          </div>
          <div>
            <div>
              <p class="text-lg font-medium leading-6 text-black">
                Easy onboarding
              </p>
            </div>
            <div class="mt-2 text-base text-gray-500">
              Plus, our platform is constantly evolving to meet the changing
              needs of the tech industry, ensuring you'll always be ahead.
            </div>
          </div>
        </dl>
      </div>
    </div> -->
  </div>
</section>
