
              
              
              <footer class="w-full bg-green-500" aria-labelledby="footer-heading">
                <h2 id="footer-heading" class="sr-only">Footer</h2>
                <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 lg:px-16">
                  <div class="flex flex-col items-baseline space-y-6">
                    <div class="mx-auto">
                      <a href="/" class="mx-auto text-lg text-center text-white transition duration-500 ease-in-out transform tracking-relaxed">
                      <svg class="w-5 h-5" viewBox="0 0 232 232" fill="none" xmlns="">
                        <img src="img/Logo PPK Ormawa (solo).png" class="w-6">
                      </svg>        </a>
                    </div>
                    <div class="mx-auto">
                      <span class="mx-auto mt-2 text-sm text-gray-100">
                        Copyright ©
                        <a href="" class="mx-2 text-white hover:text-gray-500" rel="noopener noreferrer">PPK ORMAWA</a>2023
                      </span>
                    </div>
                  </div>
                </div>
              </footer>
            